# Logs
logs
log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

resources

*.db

*.pdf

.venv


resource

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
resources/database/database.db
log/logFile.log
resources/database/database.db
resources/database/database.db
