# Logs

logs
log
*.log

.venv

resources
*.pdf
*.db

__pychache__
resource

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


